include README.md
include requirements.txt
include setup.py
include setup.cfg

include BlackBoxAuditing
include BlackBoxAuditing/*.sh
include BlackBoxAuditing/r_plotting/*.Rmd
include BlackBoxAuditing/repair_tests/*.csv
include BlackBoxAuditing/MATLAB_code/*
include BlackBoxAuditing/test_data/*.csv
include BlackBoxAuditing/test_data/*.arff

include python2_source
include python2_source/BlackBoxAuditing/*.py
include python2_source/BlackBoxAuditing/*.sh
include python2_source/BlackBoxAuditing/experiments/*.py
include python2_source/BlackBoxAuditing/experiments/*/*.py
include python2_source/BlackBoxAuditing/model_factories/*.py
include python2_source/BlackBoxAuditing/repairers/*.py
include python2_source/BlackBoxAuditing/repairers/binning/*.py
include python2_source/BlackBoxAuditing/r_plotting/*.Rmd
include python2_source/BlackBoxAuditing/repair_tests/*.csv
include python2_source/BlackBoxAuditing/MATLAB_code/*
include python2_source/BlackBoxAuditing/test_data/*.csv
include python2_source/BlackBoxAuditing/test_data/*.arff
include python2_source/BlackBoxAuditing/test_data/*.py
include python2_source/BlackBoxAuditing/model_factories/weka.path
